<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous"> 
    <style type="text/css">
    	body {
    		padding-top: 80px;
    	}
    </style>
</head>
<body>
<div class="container">
	<div class="jumbotron text-center">
		<h1><span class="fa fa-lock">Passport Authentication</span></h1>
		<p>Login or Register with:</p>
		<a href="/auth/facebook" class="btn btn-primary"><span>Facebook</span></a>
		<a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Local Login</a>
		<a href="/signup" class="btn btn-default"><span class="fa fa-user">Local Signup</span></a>
	</div>
</div>
</body>
</html>