<!DOCTYPE html>
<html>
<head>
	<title>Profile</title>
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous"> 
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">
	<div class="page-header text-center"><h1><span class="fa fa-anchor">Profile Page</span></h1>
	<a href="/logout" class="btn btn-default btn-sm">Logout</a>

	<div class="row">
		<div class="well">
			<h3><span class="fa fa-user">Local</span></h3>
			<p>
				<strong>id: </strong><%= user._id %><br>
				<strong>email: </strong><%= user.local.email %><br>
				<strong>password: </strong><%= user.local.password %><br>
			</p>
		</div>
	</div>
	</div>
</div>
</body>
</html>